<div class="content">
    <div (click)="volver()" class="content__boton-atras">
        <button class="content__boton-atras__boton">< ATRAS</button>
        
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Estudio de la marcha, ¿Qué es?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Los estudios de la marcha muestran el grado de armonía en todo el sistema musculoesquelético y los posibles
        cambios que puede tener el pie al caminar. El análisis de la marcha también se utiliza para controlar la
        eficacia del tratamiento quirúrgico. También es importante para las personas con diabetes porque puede reducir
        el riesgo de úlceras y amputaciones en las extremidades inferiores al identificar y corregir áreas de alta
        presión antes de que aparezcan los síntomas. En esta área de especialización, realizamos estudios biomecánicos
        de la marcha para diagnosticar con precisión si el método de marcha es correcto o, por el contrario, si este
        método de marcha puede causar alguna condición médica. Después de diagnosticar la marcha, si es necesario,
        obtenga una impresión virtual 3D del pie gracias a 3D ScannSport Podoactiva. Esta es una técnica única que puede
        reproducir la forma del pie reemplazando la forma clásica con yeso, espuma fenólica, etc. Hacer que el proceso
        sea más preciso. Los datos resultantes se editan con un software especial y un robot crea un modelo de paciente
        personalizado en la sede de Podoactiva en el Parque Tecnológico de Walqa. Este sistema le permite hacer una
        copia de todos los tratamientos que necesita sin repetir la prueba.
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ak9NVK797EQ" title="Pantillas personalizadas"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</div>