<div class="content">
    <div (click)="volver()" class="content__boton-atras">
        <button class="content__boton-atras__boton">< ATRAS</button>
        
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Uña encarnada, ¿Qué es?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        El heloma plantar se caracteriza por presentar una forma redondeada con bordes afilados, que es una de las
        causas más comunes de callos que aparecen cuando se aplica una presión excesiva sobre la piel en esta zona en
        particular.
        Aunque se trata de lesiones completamente benignas, pueden producir dolor y cojera si las lesiones son muy
        profundas y pueden afectar a la calidad de vida del paciente, sobre todo en los casos más graves. Por ello, se
        insiste en la importancia de contactar con un cirujano ortopédico ante cambios leves en la
        forma o dolor leve en cualquier parte del pie. Es importante vigilar el desarrollo de estas lesiones para evitar
        que los diabéticos desarrollen úlceras.
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Causas
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Hay varias razones para la aparición de los heliomas en las suelas. En la mayoría de los casos, hay dos
        factores:
    </div>
    <div class="content__lista">
        <ul class="content__lista__ul">
            <li class="content__lista__ul__li">
                Zapatos inadecuados: Los zapatos inadecuados, especialmente cuando son inflexibles, aumentan la
                presión sobre las plantas de los pies y pueden formar hematomas en las plantas.
            </li>
            <hr />
            <li class="content__lista__ul__li">
                Cambios biomecánicos:
                los cambios deficientes en la postura, la marcha o la pisada pueden aumentar la presión en ciertas
                partes del pie durante la marcha, lo que provoca lesiones similares a los géromas. La mejor manera
                de prevenir esto
                es visitar al cirujano ortopédico de forma regular, al menos una vez al año, para una evaluación
                general
                del estado del pie y, si es necesario, para estudios biomecánicos.
            </li>
        </ul>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_X-1nnhCjdk" title="Helomas"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>