<header class="content">
    <!-- <div *ngIf="!login" class="logged-out">
        <img class="mapfre-logo" (click)="ngToggleheader()" src="../../../../assets/images/AF_Logo_MAPFRE_desktop.png"> 
    </div> -->
    <img class="clinica-logo" src="../../../../assets/icons/logo_clinica.png">

    <div class="div-cabecera">

        <div class="dropdown">
            <button class="dropbtn">
                <a href="/access-menu">{{ 'SHARED.HEADER.INICIO' | translate }}</a>
            </button>
        </div>

        <div class="dropdown">
            <button class="dropbtn">
                <a href="/serviciosMenu">{{ 'SHARED.HEADER.SERVICIOS' | translate }}</a>
            </button>
            <div class="dropdown-content">
                <a href="/serviciosMenu/corte">{{ 'SERVICES_MENU.QUIROPODIA_SERV.CORTE' | translate }}</a>
                <a href="/serviciosMenu/unya">{{ 'SERVICES_MENU.QUIROPODIA_SERV.UÑA' | translate }}</a>
                <a href="/serviciosMenu/plantillas">{{ 'SERVICES_MENU.BIOMECANICA_SERV.PLANTILLAS' | translate }}</a>
                <a href="/serviciosMenu/heloma">{{ 'SERVICES_MENU.QUIROPODIA_SERV.HELOMA' | translate }}</a>
                <a href="/serviciosMenu">{{ 'SERVICES_MENU.MAS_SERVICIOS' | translate }}</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">
                <a href="/clinica">{{ 'SHARED.HEADER.CLINICA' | translate }}</a>
            </button>
        </div>

        <div class="dropdown">
            <button class="dropbtn">
                <a href="/personal">{{ 'SHARED.HEADER.QUIENES_SOMOS' | translate }}</a>
            </button>
        </div>

        <div class="dropdown">
            <button class="dropbtn">
                <a href="/contacto">{{ 'SHARED.HEADER.CONTACTO' | translate }}</a>
            </button>
        </div>
    </div>

    <div class="login-option">
        <div class="dropdown">
            <button id="idioma" class="dropbtn">{{ idioma | uppercase }}</button>
            <div class="dropdown-content">
                <a (click)="useLanguage('es')">Español</a>
                <a (click)="useLanguage('en')">Inglés</a>
                <a (click)="useLanguage('pt')">Portugués</a>
            </div>
        </div>
        
        <div  class="dropdown">
            <button *ngIf="!isLogged" class="dropbtn">
                <a href="/login">{{ 'SHARED.HEADER.LOGIN' | translate }}</a>
            </button>

            <button (click)="redirectToAdmin()" *ngIf="isAdmin" class="dropbtn">
                <a>{{ 'SHARED.HEADER.ADMIN' | translate }}</a>
            </button>

            <button *ngIf="isLogged" (click)="redirectToProfile()" class="dropbtn">
                <a>{{ 'SHARED.HEADER.PERFIL' | translate }}</a>
            </button>

            <button *ngIf="isLogged" (click)="logout()" class="dropbtn">
                <a href="/access-menu">{{ 'SHARED.HEADER.LOGOUT' | translate }}</a>
            </button>
        </div>
    </div>

    <!-- <div class="logged-in">
        <img class="clinica-logo" src="../../../../assets/icons/logo_clinica.png">
        <div class="settings-user">
            <div class="contact">
                <a href="/contacto">{{ 'HEADER.CONTACTO' | translate }}</a>
            </div>
            <div class="block">
                <a href="/perfil" class="name">Lara Suárez</a>
                <a href="/role-management">Administrador</a>
            </div>
            <img class="user" src="">
            <i></i>
        </div>
    </div> -->
</header>

<!-- NOTAS REFACTORIZAR:

METER UNA LISTA EN HORIZONTAL
1. EN ESA LISTA METER MAS ELEMENTOS: INICIO, CLINICA, SERVICIOS, EQUIPO, CONTACTO...
2.EN LA OPCION SERVICIOS METER UN MENU EMERGENTE CUANDO MOUSE OVER QUE DESPLIEGUE 
LOS SERVICIOS DE LA CLINICA.
3.REFACTORIZAR EL HEADER CON UN POSIBLE TOKEN PARA QUE NO PETE, YA VERÉ -->