<div class="content2">
    <div class="content2__wrapper">
        <div class="content2__wrapper__deco-line"></div>
        <div class="content2__wrapper__title">
            Nuestra clínica podológica
        </div>
        <div class="content2__wrapper__deco-line"></div>
    </div>
    <div class="content2__descripcion">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh sit etiam tortor proin varius fringilla. Lorem nisl quisque risus pellentesque.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh sit etiam tortor proin varius fringilla. Lorem nisl quisque risus pellentesque.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh sit etiam tortor proin varius fringilla. Lorem nisl quisque risus pellentesque.
    </div>
</div>

<div class="content">
    <div class="content__servicio">
        <div class="content__servicio__item">
            <div class="content__servicio__item__producto">
                <img class="content__servicio__item__producto"
                    src="../../../assets/img/b3aa5036-260a-467d-ade9-8553fbc4b492.jfif" alt="">
            </div>
            <div class="content__servicio__item__text">
                <a class="content__servicio__item__text__a">Clínica Lara Suarez Diaz</a>
            </div>
        </div>
    </div>
    <div class="content__servicio">
        <div class="content__servicio__item">
            <div class="content__servicio__item__producto">
                <img class="content__servicio__item__producto" src="../../../assets/img/lateral.jpeg" alt="">
            </div>
            <div class="content__servicio__item__text">
                <a class="content__servicio__item__text__a">Clínica Lara Suarez Diaz</a>
            </div>
        </div>
    </div>
</div>