<div class="content">
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Verruga plantar, ¿Qué es?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Es importante saber que actualmente existen alrededor de 150 variantes (VPH), de las cuales las más agresivas
        son los subtipos 16 y 18, que causan el 70% de los cánceres de cuello uterino femenino. .. Las verrugas en las
        plantas de los pies causan molestias y, a menudo, causan un dolor insoportable al caminar, correr, bailar o
        saltar. Las verrugas se producen en las zonas del pie que soportan más peso y más presión, y este factor depende
        del tipo y la pisada del pie. En algunos casos, se ha observado que esta presión (y el aumento de la presión)
        hace que las verrugas plantares crezcan medialmente debajo de una capa gruesa y dura de piel (formando callos).
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I2y2-vVFTcY" title="Verruga plantar"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>