
<div class="head">
  <h2 class="header">
    {{ data.title }}
  </h2>
  <i (click)="close()" class="close">
    <img src="../../../assets/icons/svg/icon-close.svg" alt="" />
  </i>
</div>

<div class="container">
  <div class="form-wrap">
    <form class="form" action="" [formGroup]="form">
      <div>
        <app-input-password
          formControlName="password"
          label="{{ 'SHARED.POPUPS.CHANGE_PASSWORD.ACTUAL' | translate }}"
          [required]="true"
          placeholder=""
          >
        </app-input-password>
        <p class="form-error" *ngIf="getTouchedAndError('password')">
          {{ "ERRORS_MENSAJE.REQUIRED" | translate }}
        </p>
      </div>
      <div>
        <app-input-password
          formControlName="newPassword"
          label="{{ 'SHARED.POPUPS.CHANGE_PASSWORD.NUEVA' | translate }}"
          [required]="true"
          placeholder=""
          >
        </app-input-password>
        <p class="form-error" *ngIf="getTouchedAndError('newPassword')">
          {{ "ERRORS_MENSAJE.REQUIRED" | translate }}
        </p>
        <p class="form-error" *ngIf="comparePasswords()">
            {{ "SHARED.POPUPS.CHANGE_PASSWORD.ACTUAL_NUEVA" | translate }}
          </p>
      </div>
      <div>
        <app-input-password
          formControlName="newPasswordSecure"
          label="{{ 'SHARED.POPUPS.CHANGE_PASSWORD.REPITE' | translate }}"
          [required]="true"
          placeholder=""
          >
        </app-input-password>
        <p class="form-error" *ngIf="getTouchedAndError('newPasswordSecure')">
          {{ "ERRORS_MENSAJE.REQUIRED" | translate }}
        </p>
        <p class="form-error" *ngIf="equalPasswords()">
          {{ "SHARED.POPUPS.CHANGE_PASSWORD.COINCIDIR" | translate }}
        </p>
      </div>
    </form>
    <div class="buttons">
      <div class="button">
        <app-button-base
          label="{{ 'SHARED.POPUPS.CHANGE_PASSWORD.ACEPTAR' | translate }}"
          (click)="onSubmit()"
          [disabled]="buttonDisabled"
        ></app-button-base>
      </div>
    </div>
  </div>
</div>
