<div class="content">
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Ortesis de silicona, ¿Qué es?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        La silicona es un polímero que pertenece al grupo de los elastómeros y se utiliza en muchas cirugías ortopédicas
        debido a sus propiedades de elasticidad, resistencia y biocompatibilidad. En muchos casos, las deformidades de
        los dedos de los pies y las lesiones repetidas se pueden evitar con dispositivos ortopédicos de silicona que
        remodelan la parte delantera del pie o protegen ciertas áreas. Es importante señalar que la silicona elaborada
        por el ortopedista se adapta a cada paciente para una morfología particular. Las siliconas estándar a menudo son
        aburridas o fracasan. Las plantillas son más efectivas y más recomendadas cuando las deformidades del antepié
        están relacionadas con la biomecánica. Sin embargo, cuando se trata de proteger la zona, liberar el dedo y
        detener el avance de la deformación del dedo, la silicona es decisiva y cómoda. Los brackets de silicona son
        hidrofóbicos. Esto significa que el agua no dañará el aparato ortopédico, no es adhesivo y es elástico, por lo
        que es cómodo de llevar. Son hipoalergénicos y biocompatibles, por lo que no provocan reacciones alérgicas ni
        daño tisular.
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/yuQMwakaA8w" title="Ortesis de silicona"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>