<div class="content">
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Hongos en las uñas, ¿Qué es?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Los hongos en los pies, también conocidos como hongos en las uñas, son enfermedades causadas por infecciones
        superficiales. Esta infección es causada por organismos microscópicos. Su peculiaridad es que son uno de los
        organismos más resistentes de la naturaleza. La enfermedad fúngica de las uñas afecta las uñas de los dedos de
        las manos y/o las uñas de los pies debido a una infección dermatofítica que afecta tanto al lecho ungueal
        subsuperficial como a la placa. Los casos de hongos en los dedos de los pies o hongos en los dedos de los pies
        han aumentado enormemente en todo el mundo durante la última década.
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Causas hongos en los pies
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__lista">
        <ul class="content__lista__ul">
            <li class="content__lista__ul__li">
                Uso de cuero sintético en el calzado. Estos tejidos elevan la temperatura de los pies e impiden una
                correcta ventilación.
            </li>
            <li class="content__lista__ul__li">
                Envejecimiento de la población.
            </li>
            <li class="content__lista__ul__li">
                Aumento de los trastornos relacionados con el sistema
                inmunológico debido a una enfermedad o ciertos medicamentos.
            </li>
            <li class="content__lista__ul__li">
                Algunas reglas de precaución para las
                personas que visitan lugares públicos como spas, piscinas, saunas, pedicuras y salones de uñas.
            </li>
        </ul>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sfYj568Xj5c" title="Hongos"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>