<div class="content">
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Uña encarnada, ¿Qué es?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Las uñas encarnadas causan muchas molestias, especialmente para quienes practican deportes o caminan mucho. Por
        lo general, si el paciente siente dolor debido a la uña encarnada, puede intentar cortar las esquinas obstruidas
        de la piel. Sin embargo, las uñas suelen ser demasiado profundas para acceder a ellas y la incisión es
        superficial. Por esta razón, si tiene una condición tan dolorosa, consulte a un ortopedista para evaluar y
        retirar la aguja (clavo clavado en la piel).
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Q1VrnXkV8Bc" title="Uña encarnada"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>