<div class="content">
    <div *ngIf="!mostrandoServicio">
        <!-- CONTENIDO PRINCIPAL DE SERVICIOS MENU -->
        <div class="wrapper">
            <div class="deco-line"></div>
            <div class="label-services">{{ 'SERVICES_MENU.SERVICES' | translate }}</div>
            <div class="deco-line"></div>
        </div>
        <form name="form1">
            <span id="buttons" class="services-wrap">
                <div role="list" class="services-wrap__list">
                    <div role="listitem" class="services-wrap__list__item">
                        <label (click)="selectCategory(ServiceCategory.QUIROPODIA)" class="services-wrap__list__item__a" [class.is-active]="isCategoryActive(ServiceCategory.QUIROPODIA)">{{ 'SERVICES_MENU.QUIROPODIA' | translate }}</label>
                    </div>
                    <div role="listitem" class="services-wrap__list__item">
                        <label (click)="selectCategory(ServiceCategory.BIOMECANICA)" class="services-wrap__list__item__a" [class.is-active]="isCategoryActive(ServiceCategory.BIOMECANICA)">{{ 'SERVICES_MENU.BIOMECANICA' | translate }}</label>
                    </div>
                    <div role="listitem" class="services-wrap__list__item">
                        <label (click)="selectCategory(ServiceCategory.CIRUGIA_UNGEAL)" class="services-wrap__list__item__a" [class.is-active]="isCategoryActive(ServiceCategory.CIRUGIA_UNGEAL)">{{ 'SERVICES_MENU.CIRUGIA_UNGEAL' | translate }}</label>
                    </div>
                    <div role="listitem" class="services-wrap__list__item">
                        <label (click)="selectCategory(ServiceCategory.CIRUGIA_OSEA)" class="services-wrap__list__item__a" [class.is-active]="isCategoryActive(ServiceCategory.CIRUGIA_OSEA)">{{'SERVICES_MENU.CIRUGIA_OSEA' | translate }}</label>
                    </div>
                    <div role="listitem" class="services-wrap__list__item">
                        <label (click)="selectCategory(ServiceCategory.PIE_DIABETICO)" class="services-wrap__list__item__a" [class.is-active]="isCategoryActive(ServiceCategory.PIE_DIABETICO)">{{'SERVICES_MENU.PIE_DIABETICO' | translate }}</label>
                    </div>
                    <div role="listitem" class="services-wrap__list__item">
                        <label (click)="selectCategory(ServiceCategory.PODOLOGIA_INFANTIL)" class="services-wrap__list__item__a" [class.is-active]="isCategoryActive(ServiceCategory.PODOLOGIA_INFANTIL)">{{ 'SERVICES_MENU.PODOLOGIA_INFANTIL' | translate }}</label>
                    </div>
                    <div role="listitem" class="services-wrap__list__item">
                        <label (click)="selectCategory(ServiceCategory.PODOLOGIA_GERIATRICA)" class="services-wrap__list__item__a" [class.is-active]="isCategoryActive(ServiceCategory.PODOLOGIA_GERIATRICA)">{{ 'SERVICES_MENU.PODOLOGIA_GERIATRICA' | translate }}</label>
                    </div>
                    <div role="listitem" class="services-wrap__list__item">
                        <label (click)="selectCategory(ServiceCategory.SERVICIO_DOMICILIO)" class="services-wrap__list__item__a" [class.is-active]="isCategoryActive(ServiceCategory.SERVICIO_DOMICILIO)">{{ 'SERVICES_MENU.SERVICIO_DOM' | translate }}</label>
                    </div>
                </div>
            </span>
        </form>

<div class="content">
    <div *ngIf="isCategoryActive(ServiceCategory.QUIROPODIA)" class="content__content-quiro">
        <div class="content__wrapper">
            <div class="deco-line"></div>
            <div class="label-services">QUIROPODIA</div>
            <div class="deco-line"></div>
        </div>
        <div class="content__servicio" >
            <div routerLink="/serviciosMenu/corte" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/quiro_corte.jpg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/corte">{{'SERVICES_MENU.QUIROPODIA_SERV.CORTE' | translate }}</a>
                </div>
            </div>
            <div routerLink="/serviciosMenu/dureza" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/quiro_dureza.jpg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/dureza">{{'SERVICES_MENU.QUIROPODIA_SERV.DUREZA' | translate }}</a>
                </div>
            </div>
            <div routerLink="/serviciosMenu/heloma" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/quiro_heloma.jpg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/heloma">{{'SERVICES_MENU.QUIROPODIA_SERV.HELOMA' | translate }}</a>
                </div>
            </div>
            <div routerLink="/serviciosMenu/unya" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/quiro_uña-enc.jpg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/unya">{{'SERVICES_MENU.QUIROPODIA_SERV.UÑA' | translate }}</a>
                </div>
            </div>
            <div routerLink="/serviciosMenu/hongos" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/quiro_hongo.jpeg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/hongos">{{'SERVICES_MENU.QUIROPODIA_SERV.HONGOS' | translate }}</a>
                </div>
            </div>
            <div routerLink="/serviciosMenu/verruga" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/quiro_verruga.jpg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/verruga">{{'SERVICES_MENU.QUIROPODIA_SERV.VERRUGAS' | translate }}</a>
                </div>
            </div>
            <div routerLink="/serviciosMenu/ortesis" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/quiro_ortesis.jpg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/ortesis">{{'SERVICES_MENU.QUIROPODIA_SERV.ORTESIS' | translate }}</a>
                </div>
            </div>
        </div>
    </div>




    <div *ngIf="isCategoryActive(ServiceCategory.BIOMECANICA)" class="content__content-bio">
        <div class="content__wrapper">
            <div class="deco-line"></div>
            <div class="label-services">BIOMECANICA</div>
            <div class="deco-line"></div>
        </div>
        <div class="content__servicio" >
            <div routerLink="/serviciosMenu/espolon" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/bio_espolon.jpg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/espolon">{{'SERVICES_MENU.BIOMECANICA_SERV.ESPOLON' | translate }}</a>
                </div>
            </div>
            <div routerLink="/serviciosMenu/fascitis" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/bio_fascitis.jpg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/fascitis">{{'SERVICES_MENU.BIOMECANICA_SERV.FASCITIS' | translate }}</a>
                </div>
            </div>
            <div routerLink="/serviciosMenu/infiltracion" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/bio_infiltraciones.png" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/infiltracion">{{'SERVICES_MENU.BIOMECANICA_SERV.INFILTRACIONES' | translate }}</a>
                </div>
            </div>
            <div routerLink="/serviciosMenu/marcha" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/bio_marcha.jpg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/marcha">{{'SERVICES_MENU.BIOMECANICA_SERV.MARCHA' | translate }}</a>
                </div>
            </div>
            <div routerLink="/serviciosMenu/plantillas" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/bio_plantillas.jpg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/plantillas">{{'SERVICES_MENU.BIOMECANICA_SERV.PLANTILLAS' | translate }}</a>
                </div>
            </div>
            <div routerLink="/serviciosMenu/vendaje" class="content__servicio__item">
                <div class="content__servicio__item__producto">
                    <img class="content__servicio__item__producto" src="../../../assets/img/bio_vendaje.jpg" alt="">
                </div>
                <div class="content__servicio__item__text">
                    <a class="content__servicio__item__text__a" href="/serviciosMenu/vendaje">{{'SERVICES_MENU.BIOMECANICA_SERV.VENDAJE' | translate }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="content__servicio" *ngIf="isCategoryActive(ServiceCategory.CIRUGIA_UNGEAL)">
        <div class="content__wrapper">
            <div class="deco-line"></div>
            <div class="label-services">CIRUGIA UNGEAL</div>
            <div class="deco-line"></div>
        </div>
        <app-cirugia-ungeal></app-cirugia-ungeal>
    </div>
    <div class="content__servicio" *ngIf="isCategoryActive(ServiceCategory.CIRUGIA_OSEA)">
        <div class="content__wrapper">
            <div class="deco-line"></div>
            <div class="label-services">CIRUGIA OSEA</div>
            <div class="deco-line"></div>
        </div>
        <app-cirugia-osea></app-cirugia-osea>
    </div>
    <div class="content__servicio" *ngIf="isCategoryActive(ServiceCategory.PIE_DIABETICO)">
        <div class="content__wrapper">
            <div class="deco-line"></div>
            <div class="label-services">PIE DIABETICO</div>
            <div class="deco-line"></div>
        </div>
        <app-pie-diabetico></app-pie-diabetico>
    </div>
    <div class="content__servicio" *ngIf="isCategoryActive(ServiceCategory.PODOLOGIA_INFANTIL)">
        <div class="content__wrapper">
            <div class="deco-line"></div>
            <div class="label-services">PODOLOGIA INFANTIL</div>
            <div class="deco-line"></div>
        </div>
        <app-podologia-infantil></app-podologia-infantil>
    </div>
    <div class="content__servicio" *ngIf="isCategoryActive(ServiceCategory.PODOLOGIA_GERIATRICA)">
        <div class="content__wrapper">
            <div class="deco-line"></div>
            <div class="label-services">PODOLOGIA GERIATRICA</div>
            <div class="deco-line"></div>
        </div>
        <app-podologia-geriatrica></app-podologia-geriatrica>
    </div>
    <div class="content__servicio" *ngIf="isCategoryActive(ServiceCategory.SERVICIO_DOMICILIO)">
        <div class="content__wrapper">
            <div class="deco-line"></div>
            <div class="label-services">SERVICIO A DOMICILIO</div>
            <div class="deco-line"></div>
        </div>
        <app-servicio-domicilio></app-servicio-domicilio>
    </div>
    </div>
    <!-- FIN CONTENIDO PRINCIPAL -->

    <!-- ROUTER OUTLET PARA SERVICIOS ESPECIFICOS -->
    <router-outlet></router-outlet>
</div>