<div class="page">
    <div class="page__container">
      <i (click)="close()" class="page__container__close">
        <img src="../../../assets/icons/svg/icon-close.svg" alt="" />
      </i>
      <mat-dialog-content class="page__container__content">
        <img src="{{ data.icon }}" width="20px" />
        <h3>{{ data.text }}</h3>
        <app-button-base
          label="{{ data.buttonLabel }}"
          (click)="close()"
        ></app-button-base>
      </mat-dialog-content>
    </div>
  </div>