<div class="content">
    <div (click)="volver()" class="content__boton-atras">
        <button class="content__boton-atras__boton">< ATRAS</button>
        
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Durezas, ¿Qué es?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Lo que comúnmente llamamos callo o dureza es un cambio en la piel, muchas veces solo un síntoma de otros
        problemas ortopédicos. Visitar a un podólogo es fundamental para determinar cuál es el problema real, ya que
        muchas condiciones pueden causar estos cambios. Esta es la única manera de resolver el problema de fondo.
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Causas
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__subtitle">
        Deshidratación
    </div>
    <div class="content__descripcion">
        El pulpo suele estar causado por la falta de agua en la zona afectada. Una buena cura para este
        tipo de problemas es utilizar una pomada especial recetada por un podólogo.
    </div>
    <div class="content__subtitle">
        Hiperqueratosis
    </div>
    <div class="content__descripcion">
        La presión constante puede engrosar la capa exterior de la piel de los pies. Este es el resultado de la
        acumulación de células muertas que se desprenden debido al mal calzado o problemas para caminar.
    </div>
    <div class="content__subtitle">
        Eczema, tiña o psoriasis
    </div>
    <div class="content__descripcion">
        En otros casos, estos pulpos pueden ser causados ​​por otras condiciones como eccema, tiña o psoriasis. Estas
        condiciones causan enrojecimiento e inflamación de la piel. La irritación de la piel debe evitarse
        absolutamente. Por lo tanto, la clasificación de áreas no solo es ineficaz, sino también contraproducente.
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BaIZ2xj7G6A" title="Durezas en los pies"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>