<div class="content">
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            ¿Cómo deben cortarse las uñas de los pies?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Cortar las plantas de los pies es uno de los procedimientos de higiene personal diarios más comunes. Sin
        embargo, aunque muchos creen que es una tarea simple que no causa problemas, en realidad solo hay una forma
        correcta de evitar problemas en las uñas, como inflamación, uña encarnada e infecciones.
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fTe6gbzRFm8" title="Corte de uñas"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</div>