<div class="content">
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Fascitis plantar, ¿Qué es?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        La fascitis plantar es un proceso degenerativo que provoca la inflamación de la fascia plantar (una banda de
        tejido elástico en la planta del pie). Cuando esto ocurre, el síntoma principal es un dolor agudo y localizado
        en el área donde la fascia se inserta con el calcáneo.

        Esta condición, junto con la epicondilitis, es uno de los problemas más molestos para nuestros pacientes.

        La fascitis plantar es un trastorno bastante común en personas que practican deportes, especialmente aquellos en
        los que el pie realiza un trabajo constante, como correr, fútbol o tenis.
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Síntomas
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Como acabamos de comentar, el síntoma principal de la fascitis plantar es el dolor debajo del calcáneo que puede
        extenderse hacia adelante a través de la planta del pie, aumentando las molestias a la palpación o dorsiflexión.

        Lo habitual es que el dolor se presente de forma paulatina y se agrave al empezar a moverse tras un descanso más
        o menos prolongado. Esto se debe al acortamiento de la fascia durante los períodos de inactividad.

        Después de caminar un poco se estira y en algunos casos se alivian las molestias.
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Causas
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Hay varias causas de la fascitis plantar. Consideramos los principales cambios biomecánicos que afectan
        directamente a la fascia plantar durante la marcha, lo que resulta en una sobrecarga repetitiva.

        Si a esto le sumamos el pie alto o plano, los isquiotibiales acortados, la obesidad y, en algunos casos, el
        calzado inadecuado, tenemos el cóctel perfecto para tratar esta lesión.

        Otro factor a tener en cuenta es la rigidez articular o la falta de movilidad del tobillo, especialmente en
        dorsiflexión. Durante la vida diaria y/o las actividades atléticas, este déficit motor genera un "estrés"
        adicional en la fascia plantar, lo que acelera el proceso inflamatorio y degenerativo.
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CPh02EKIbn8" title="Fascitis plantar"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>