<img class="img-main" src="../../../assets/img/6d9901ed-2d16-414c-8aa6-beaeca1dadfc.jpg" alt="">

<div class="contenido-main">
  <p class="contenido-main__label">
    {{ 'MAIN_MENU.DESCRIPCION' | translate}}
  </p>
</div>

<article class="grid">
  <section class="card-child a" routerLink="/clinica">
    <figure>
      <figcaption class="card-text">
        <!-- {{ 'ACCESS_MENU.RESERVA' | translate }} -->
        {{ 'MAIN_MENU.NUESTRA_CLINICA' | translate}}
      </figcaption>
    </figure>
  </section>
  <section routerLink="/serviciosMenu" class="card-child b">
    <figure>
      <!-- <img [src]="productsIcon" class="card-image" /> -->
      <figcaption class="card-text">
        <!-- {{ 'ACCESS_MENU.SERVICIOS' | translate }} -->
        {{ 'MAIN_MENU.NUESTROS_SERVICIOS' | translate}}
      </figcaption>
    </figure>
  </section>
  <section routerLink="/personal" class="card-child c">
    <figure>
      <figcaption class="card-text">
        <!-- {{ 'ACCESS_MENU.PERSONAL' | translate }} -->
        {{ 'MAIN_MENU.NUESTRO_PERSONAL' | translate}}
      </figcaption>
    </figure>
  </section>
  <p class="text d">
    {{ 'ACCESS_MENU.IDENTITIES_TEXT' | translate }}
  </p>
  <p class="text e">
    {{ 'ACCESS_MENU.PRODUCTS_TEXT' | translate }}
  </p>
  <p class="text f">
    {{ 'ACCESS_MENU.APPLICATIONS_TEXT' | translate }}
  </p>
</article>