$color-primary: #01abe6;
$color-secondary: #707276;
$color-tertiary: #fff;
$color-black: #000;
$color-light-gray: #f4f4f4;
$color-dark-gray: #c4c4c4;
$font-family-primary: Arial, Helvetica, sans-serif;

$radius-default: 8px;
$padding-inputs: 8px;

$shadow-default: 0 0 3px rgba($color-black, 0.2);

$z-index-modal: 9999;
$z-index-menu: 999;

$gap-form: 20px;
