<footer class="content">
    <div class="columnas">
        <div class="columnas__columna1">
            <p class="columnas__columna1__label">
                {{ 'SHARED.FOOTER.NUESTRAS_REDES' | translate}}
            </p>
            <a class="columnas_columna1_a" href="">Instagram</a>
            <a class="columnas_columna1_a" href="">Twitter</a>
            <a class="columnas_columna1_a" href="">Facebook</a>
            <a class="columnas_columna1_a" href="">Whats App</a>
        </div>
        <div class="columnas__columna2">
            <p class="columnas__columna1__label">
                {{ 'SHARED.FOOTER.HORARIO' | translate}}
            </p>
            <div class="columnas__columna2__pack-dias">
                <p class="columnas__columna2__pack-dias__dias">
                    {{ 'SHARED.FOOTER.DIAS_IMPARES' | translate}}
                </p>
                <p class="columnas__columna2__pack-dias__horas">
                    {{ 'SHARED.FOOTER.HORAS_TARDE' | translate}}
                </p>
            </div>
            <div class="columnas__columna2__pack-dias">
                <p class="columnas__columna2__pack-dias__dias">
                    {{ 'SHARED.FOOTER.DIAS_PARES' | translate}}
                </p>
                <p class="columnas__columna2__pack-dias__horas">
                    {{ 'SHARED.FOOTER.HORAS_MAÑANA' | translate}}
                </p>
            </div>
            <div class="columnas__columna2__pack-dias">
                <p class="columnas__columna2__pack-dias__dias">
                    {{ 'SHARED.FOOTER.FIN_DE_SEMANA' | translate}}
                </p>
                <p class="columnas__columna2__pack-dias__horas">
                    {{ 'SHARED.FOOTER.CERRADO' | translate}}
                </p>
            </div>
        </div>
    </div>
</footer>