<footer class="content">
    <div class="columnas">
        <div class="columnas__columna1">
            <p class="columnas__columna1__label">
                Nuestras redes sociales
            </p>
            <a class="columnas_columna1_a" href="">Instragram</a>
            <a class="columnas_columna1_a" href="">Twitter</a>
            <a class="columnas_columna1_a" href="">Facebook</a>
            <a class="columnas_columna1_a" href="">Whats App</a>
        </div>
        <div class="cloumnas__columna2">
            <p class="columnas__columna1__label">
                Horario de la clínica
            </p>
            <div class="columnas__columna2__pack-dias">
                <p class="columnas__columna2__pack-dias__dias">
                    Lunes, Miércoles y Viernes:
                </p>
                <p class="columnas__columna2__pack-dias__horas">
                    16:00 a 20:00
                </p>
            </div>
            <div class="columnas__columna2__pack-dias">
                <p class="columnas__columna2__pack-dias__dias">
                    Martes y Jueves:
                </p>
                <p class="columnas__columna2__pack-dias__horas">
                    09:30 a 13:30
                </p>
            </div>
            <div class="columnas__columna2__pack-dias">
                <p class="columnas__columna2__pack-dias__dias">
                    Sábado y Domingo:
                </p>
                <p class="columnas__columna2__pack-dias__horas">
                    Cerrado
                </p>
            </div>
        </div>
    </div>
</footer>