<div class="content">
    <div (click)="volver()" class="content__boton-atras">
        <button class="content__boton-atras__boton">< ATRAS</button>
        
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Infiltraciones, ¿Qué es?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        La infiltración es un tratamiento ampliamente utilizado en ortopedia para tratar estructuras y tejidos dañados,
        promover la curación y reducir el dolor en el lugar de la inyección. Además, la infiltración del pie guiada por
        ultrasonidos permite una infiltración selectiva y más precisa de las estructuras dañadas. De esta forma, asegura
        una penetración precisa en la zona dolorida. Este tipo de tratamiento se utiliza principalmente para las
        lesiones inflamatorias de los tejidos blandos. De igual forma, se pueden utilizar varios fármacos/soluciones,
        dependiendo de la patología a tratar (corticoides, plasma rico en plaquetas, colágeno, ácido hialurónico, etc.).
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Patologías tratadas con infiltración
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__subtitle">
        Fascitis plantar
    </div>
    <div class="content__descripcion">
        Una de las condiciones médicas más frecuentes en consulta. La infiltración de PRP (plasma rico en plaquetas) da
        resultados muy favorables. El procedimiento consiste en extraer sangre del propio paciente y centrifugarla, a
        partir de la cual se obtienen los distintos componentes presentes en la sangre. Por lo tanto, seleccionaremos
        una
        porción de la centrífuga que contenga plasma rico en plaquetas que contenga una serie de factores de crecimiento
        que puedan estimular la respuesta de regeneración tisular. El origen de la fascitis plantar suele ser
        biomecánico. Por tanto, en estos casos, la infiltración se puede asociar a un tratamiento ortopédico adecuado
        según el modelo individual.

    </div>
    <div class="content__subtitle">
        Neuroma de Morton
    </div>
    <div class="content__descripcion">
        Es un engrosamiento del nervio de la planta del dedo. La cabeza del metatarsiano presiona este nervio,
        provocando inflamación y dolor en esa zona. En estos casos, la infiltración de corticoides bajo control
        ultrasónico es muy eficaz.
    </div>
    <div class="content__subtitle">
        Metatarsalgias
    </div>
    <div class="content__descripcion">
        Otra condición que aparece con mayor frecuencia en los exámenes médicos. Según el tipo de dolor metatarsiano y
        la causa del dolor, los medicamentos administrados variarán. La combinación de infiltración para reducir la
        inflamación y reparar el tejido dañado con plantillas personalizadas para corregir el potencial de cambios
        biomecánicos es un muy buen tratamiento.
    </div>
    <div class="content__subtitle">
        Tendinitis de Aquiles
    </div>
    <div class="content__descripcion">
        Una condición médica común en atletas, corredores y saltadores. Ante tales afecciones tendinosas se opta por
        tratamientos conservadores como las técnicas RICE (reposo, hielo, compresión, levantamiento), estiramientos y
        trabajos excéntricos bajo orientación profesional, ondas de choque, plantillas, etc.. En casos más rebeldes, la
        infiltración de colágeno, ácido hialurónico o PRP puede dar buenos resultados si la condición aún no ha
        mejorado.
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/h6S7PEaYpRY" title="Infiltración para fascitis plantar"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>