<div class="wrapper">
    <div class="wrapper__deco-line"></div>
    <div class="wrapper__title">
        Contácta con nosotros
    </div>
    <div class="wrapper__deco-line"></div>
</div>
<div class="content">
    <div class="wrap">
        <div class="form-wrap">
            <div class="label">Contactáctanos</div>
            <div class="detalle">Déjanos un mensaje y te responderemos lo más pronto posible.</div>
            <form class="form" action="" [formGroup]="form">
                <!-- <label for="Name" class="label">Nombre</label> -->
                <div>
                    <app-input-text 
                    formControlName="nombre" 
                    label="{{ 'CONTACTO.NOMBRE' | translate }}"
                    [invalid]="getTouchedAndError('nombre')" 
                    [required]="true">
                    </app-input-text>
                    <p class="form-error" *ngIf="getTouchedAndError('nombre')">
                        {{ 'ERRORS_MENSAJE.REQUIRED' | translate }}
                    </p>
                </div>
                <div>
                    <app-input-text 
                    label="{{ 'CONTACTO.EMAIL' | translate }}"
                    [invalid]="getTouchedAndError('email')" 
                    [required]="true"
                    formControlName="email">
                    </app-input-text>
                    <p class="form-error" *ngIf="getTouchedAndError('email')">
                        {{ 'ERRORS_MENSAJE.REQUIRED' | translate }}
                    </p>
                </div>
                <div>
                    <app-input-text 
                    formControlName="msj" 
                    label="{{ 'CONTACTO.MSJ' | translate }}"
                    [invalid]="getTouchedAndError('msj')" 
                    [required]="true">
                    </app-input-text>
                    <p class="form-error" *ngIf="getTouchedAndError('msj')">
                        {{ 'ERRORS_MENSAJE.REQUIRED' | translate }}
                    </p>
                </div>
                <div class="button">
                    <app-button-base
                        label="{{'CONTACTO.ENVIAR' | translate }}"
                        (click)="emailValida()"
                    ></app-button-base>
                </div>
            </form>
        </div>
        <div class="contact">
            <div class="whats">
                <div class="label">Llámanos</div>
                <a href="https://wa.me/613331303" class="info">(+34) 613331303</a>
            </div>
            <div class="email">
                <div class="label">Envíanos un e-mail</div>
                <div class="info">clinicalarasuarezdiaz@email.com</div>
            </div>
            <div class="redes">
                <div class="label">Síguenos en nuestras redes sociales</div>
                <div class="listaRedes">
                    <img src="../../../assets/img/whatsapp.png" href="https://wa.me/123456789" alt="Whats App">
                    <img src="../../../assets/img/facebook.png" href="https://www.facebook.es" alt="Facebook">
                    <img src="../../../assets/img/gorjeo.png" href="https://www.twitter.com" alt="Twitter">
                    <img src="../../../assets/img/instagram.png" href="https://www.instagram.com" alt="Instagram">
                </div>
            </div>
        </div>
    </div>
</div>

<div style="
-webkit-filter: grayscale(100%);
filter: grayscale(100%);">
    <div class="mapouter">
        <div class="gmap_canvas"><iframe width="1550" height="400" id="gmap_canvas"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12306.590082007138!2d-0.5745117!3d39.5450049!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd605992903833e3%3A0x94b44673f38e9882!2zQ2zDrW5pY2EgUG9kb2zDs2dpY2EgTGFyYSBTdcOhcmV6IETDrWF6!5e0!3m2!1ses!2ses!4v1674552717739!5m2!1ses!2ses"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</div>

