<label class="label-text">
    <span class="label-text__tag">{{ label }}</span>
    <input
      [type]="isHidden ? 'text' : 'password'"
      class="label-text__input"
      type="password"
      [placeholder]="placeholder"
      (input)="onInput($any($event.target).value)"
    />
    <button
      type="button"
      (click)="isHidden = !isHidden"
      [ngClass]="{
        'password-view': isHidden,
        'password-noView': !isHidden
      }"
      class="btn-view-pass"
      aria-label="Toggle Hide/Show password"
    >
      <i></i>
    </button>
  </label>
  <em class="label-text__alert" hidden>{{ alert }}</em>
  