@import '/src/assets/theme/form';

:host {
  @include host-form-row();
}
.label-text {
  display: flex;
  flex-direction: column;
  //width: min(100%, 251px);
  width: 100%;
  position: relative;

  &__tag {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &__input {
    color: $color-black;
    font-size: 14px;
    border: 1px solid $color-secondary;
    border-radius: $radius-default;
    padding: $padding-inputs;
    background-color: #fff;
    transition: filter 0.2s linear;
    &:focus {
      filter: drop-shadow($shadow-default);
      transition: filter 0.2s linear;
    }
  }

  &__alert {
    color: $color-primary;
    font-size: 12px;
    font-style: italic;
  }

  .btn-view-pass {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 30px;
    height: 24px;
    background-color: #fff;

    i {
      display: block;
      width: 100%;
      height: 100%;
      background-color: $color-primary;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center right;
    }
  }
}

.password-view i {
  mask-image: url('../../../../../assets/icons/view.svg');
}

.password-noView i {
  mask-image: url('../../../../../assets/icons/no-view.svg');
}
