<div class="card-container__logo">
    <p class="card-container__logo__text">{{'ACCESS_MENU.CLINICA' | translate }}</p>
</div>
<div class="card-container">
    <article class="grid">
        <section class="card-child a" routerLink="/personalA">
            <figure class="figure">
                <img [src]="personalA" class="card-image" />
                <figcaption class="card-text">
                    {{ 'PERSONAL.PERSONAL_A' | translate }}
                </figcaption>
            </figure>
        </section>
    </article>
</div>