<div class="content__wrapper">
    <div class="content__wrapper__deco-line"></div>
    <div class="content__wrapper__title">
        ¿Quienes somos?
    </div>
    <div class="content__wrapper__deco-line"></div>
</div>
<div class="card-container">
    <article class="grid">
        <div class="grid__imagen">
            <img src="../../../assets/img/2022-11-09.jpg" alt="">
        </div>
        <div class="grid__articulo">
            <div class="grid__articulo__title">
                LARA SUAREZ DIAZ
            </div>
            <div class="grid__articulo__texto">
                {{ 'PERSONAL.DESCRIPTION' | translate }}
            </div>
        </div>
    </article>
</div>
