<div class="content">
    <div (click)="volver()" class="content__boton-atras">
        <button class="content__boton-atras__boton">< ATRAS</button>
    </div>
    
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Servicio a domicilio, ¿Qué es?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>

    <div class="content__descripcion">
        Las uñas a menudo crecen de manera anormal y pueden provocar infecciones u otros tipos de molestias que deben
        corregirse de manera rápida y efectiva. La cirugía de uñas es un procedimiento quirúrgico mínimamente invasivo
        que se realiza de forma ambulatoria en nuestra clínica privada utilizando técnicas y procedimientos modernos. Se
        realiza con anestesia local y el paciente sale de la consulta solo para volver a tratamientos menores. Desde
        nuestra clínica ofrecemos la máxima garantía de resultados con nuestros especialistas en homologación.
    </div>

    <div class="img">
        <img src="../../../../../assets/img/servicio_domicilio.jpeg" alt="Servicio a domicilio">
    </div>
</div>