@import '/src/assets/theme/_variables';

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 16px;
  list-style: none;
  font-family: $font-family-primary;
  font-weight: bold;
  background-color: $color-light-gray;

  // Display list items side by side
  &__item {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
  }

  // Add a slash symbol (>) before/behind each list item
  li + li:before {
    color: $color-black;
    content: '';
    background: url('../../../../assets/icons/flecha_derecha.svg')
      center no-repeat;
    width: 41px;
    height: 24px;
  }

  .active {
    color: $color-primary;
    text-decoration: none;
  }
}
