<div class="content">
    <div (click)="volver()" class="content__boton-atras">
        <button class="content__boton-atras__boton">< ATRAS</button>
        
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Espolón calcáneo, ¿Qué es?
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Un espolón calcáneo es un crecimiento triangular o en forma de lanza del hueso del talón.
        Esto ocurre cuando la fascia plantar (el tejido elástico que conecta el talón con el área debajo de los dedos)
        se estira demasiado y se sobrecarga, creando microdesgarros durante su inserción.
        Esta parte se calcifica, formando una especie de "huesos" que provocan un fuerte dolor en el talón, como si
        estuvieran pinchados.
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Síntomas
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Como se mencionó, los síntomas principales son el dolor en el talón y la sensación de pisar las uñas. Este dolor
        es más intenso por la mañana cuando das los primeros pasos, y aunque se calma con el reposo, reaparece tras
        volver a poner el pie en el suelo o después de hacer ejercicio. El dolor se exacerba si el trabajo del paciente
        consiste en soportar peso.
    </div>
    <div class="content__wrapper">
        <div class="content__wrapper__deco-line"></div>
        <div class="content__wrapper__title">
            Causas
        </div>
        <div class="content__wrapper__deco-line"></div>
    </div>
    <div class="content__descripcion">
        Los espolones no son sino una calcificación que produce una excrecencia ósea puntiaguda sobre el calcáneo, la
        parte inferior del hueso del talón.

        La principal causa de espolones es una fascitis plantar que se ha vuelto crónica, debido a un diagnóstico tardío
        o un tratamiento inadecuado. Esto es debido a que el organismo acumula calcio en las zonas dañadas para
        recuperar el tejido. No obstante, recordemos algunas de las causas de la fascitis plantar y, por consiguiente,
        de los espolones:
    </div>
    <div class="content__lista">
        <ul class="content__lista__ul">
            <li class="content__lista__ul__li">Edad</li>
            <li class="content__lista__ul__li">Sobrepeso u obesidad</li>
            <li class="content__lista__ul__li">Gestos deportivos excesivos o práctica deportiva intensa (especialmente
                correr, balonmano o baloncesto)</li>
            <li class="content__lista__ul__li">Usar un calzado inadecuado</li>
            <li class="content__lista__ul__li">Pies planos</li>
            <li class="content__lista__ul__li">Sobrecarga de los tendones</li>
            <li class="content__lista__ul__li">Pasar largos periodos parados</li>
        </ul>
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/LE0NsHaVQUY" title="Espolón calcáneo"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>